.nav-bar{
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    margin-top: 5rem;
    gap: 10rem;
}

.nav-bar img{
    align-self: baseline;
    /* width: 10%; */
}

.landing{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;
}

.landing img{
    width: 100%;
}

.landing-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
}

.landing-text h1{
    font-weight: 700;
    font-size: 3.5rem;
    color: var(--secondary-color);
    text-align: center;
}

.different{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 8rem;
}

.list-title{
    display: flex;
    flex-direction: column;
    padding: 0 3.5rem 0 3.5rem;
    gap: 2rem;
    margin-bottom: 4rem;
}

.list{
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.list h4{
    background-color: #fff0eb;
    background-position: 10rem;
    padding: 0.8rem 0 0.8rem 0;
    margin-left: 6rem;
}

.list div{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.list p{
    text-align: left;
    margin: 0 2rem 0 1rem;
}

.item-1::before{
    content: "01";
    background-color: var(--primary-color);
    color: white;
    border-radius: 5rem;
    text-align: center;
    width: 1rem;
    padding: 1rem 2.5rem 1rem 2.5rem;
    position: absolute;
    left: 1rem;
}

.item-2::before{
    content: "02";
    background-color: var(--primary-color);
    color: white;
    border-radius: 5rem;
    text-align: center;
    width: 1rem;
    padding: 1rem 2.5rem 1rem 2.5rem;
    position: absolute;
    left: 1rem;
}

.item-3::before{
    content: "03";
    background-color: var(--primary-color);
    color: white;
    border-radius: 5rem;
    text-align: center;
    width: 1rem;
    padding: 1rem 2.5rem 1rem 2.5rem;
    position: absolute;
    left: 1rem;
}

.reviews{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 6.5rem;
    margin-top: 6rem;
}

.testimony{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    padding: 0 3.5rem 0 3.5rem;
}

.get-started{
    background-color: var(--primary-color);
    text-align: center;
    padding: 7rem 0 7rem 0;
    margin-top: 4rem;
}

.get-started h2{
    color: white;
    margin: 0 7rem 0 7rem;
}

.get-started button{
background-color: white;
padding: 1rem 2.5rem 1rem 2.5rem;
border-radius: 5rem;
color: var(--primary-color);
box-shadow: 0rem 0.4rem 0.8rem rgba(242, 97, 59, 0.5);
margin-top: 2rem;
}

.footer{
    background-color: #1E1E26;
    /* padding: 20rem 0 20rem 0; */
}

.footer form{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
    gap: 0.5rem;
    padding-top: 2rem;
}

.footer form input{
    background-color: white;
    border-radius: 5rem;
    padding: 1.25rem 4.8rem 1.25rem 1rem;
    font-weight: 600;
}

.footer-menu{
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
    color: white;
    padding-top: 4rem;
}

.footer-menu li a{
    font-weight: 400;
    color: white;
    /* font-size: 1.6rem; */
}

.column-1,.column-2{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.footer-logos{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    padding-top: 3rem;
}

.icons{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
}

#copyright{
    padding: 5rem 0 2rem 0;
}


.desktop{
    display: none;
}

@media screen and (min-width: 1280px) {
    p{
        font-size: 1.7rem;
    }
    
    .desktop{
        display: contents;
    }
    
    #mobile-menu{
        display: none;
    }

    .desktop-menu{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: baseline;
        gap: 30rem;
    }

    .desktop-menu ul{
        display: flex;
        gap: 2.8rem;
        align-items: baseline;
    }

    .desktop-menu li{
        font-size: 1.3rem;
    }

    .landing{
        flex-direction: row-reverse;
        align-items: center;
    }

    .landing img{
        width: 100%;
        margin-right: 14rem;
        margin-top: 10rem;
    }
    
    .landing-text{
        align-items: flex-start;
        margin-top: 16rem;
        margin-left: 10rem;
        /* margin-right: 6rem */
    }

    .landing-text h1{
        font-size: 6rem;
    }

    .landing-text p{
        margin-right: 14rem;
    }

    .landing-text h1,p,button{
        text-align: left;
    }

    
}