/* Nota para el profe: Algunas clases y variables definidas en normalize.css */
/* Mobile hecho en 375px. Desktop hecho en 1280px.*/

/* Inicio del HTML */
/* Inicio del header */
.nav-bar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 5rem;
    gap: 10rem;
}

.nav-bar img{
    align-self: center;
}

#nav-bar-logo{
    transition: all .2s ease-in-out;
}

#nav-bar-logo:hover{
    transform: scale(1.1);
}
/* Final del header */

/* Inicio del main */
/* Inicio de la seccion landing */
.landing{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;
}

.landing img{
    width: 100%;
}

.landing-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
}

.landing-text h1{
    font-weight: 700;
    font-size: 3.5rem;
    letter-spacing: -0.10rem;
    color: var(--secondary-color);
    text-align: center;
}
/* Fin de la seccion landing */

/* Inicio de la seccion different */
.different{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 8rem;
}

.list-title{
    display: flex;
    flex-direction: column;
    padding: 0 3.5rem 0 3.5rem;
    gap: 2rem;
    margin-bottom: 4rem;
}

.list{
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.list h4{
    background-color: #fff0eb;
    background-position: 10rem;
    padding: 0.8rem 0 0.8rem 0;
    margin-left: 6rem;
}

.list div{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.list p{
    text-align: left;
    margin: 0 2rem 0 1rem;
}

.item-1::before{
    content: "01";
    background-color: var(--primary-color);
    color: white;
    border-radius: 5rem;
    text-align: center;
    width: 1rem;
    padding: 1rem 2.5rem 1rem 2.5rem;
    position: absolute;
    left: 1rem;
}

.item-2::before{
    content: "02";
    background-color: var(--primary-color);
    color: white;
    border-radius: 5rem;
    text-align: center;
    width: 1rem;
    padding: 1rem 2.5rem 1rem 2.5rem;
    position: absolute;
    left: 1rem;
}

.item-3::before{
    content: "03";
    background-color: var(--primary-color);
    color: white;
    border-radius: 5rem;
    text-align: center;
    width: 1rem;
    padding: 1rem 2.5rem 1rem 2.5rem;
    position: absolute;
    left: 1rem;
}
/* Fin de la seccion different */

/* Inicio de la seccion reviews */
.reviews{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 6.5rem;
    margin-top: 6rem;
}

.testimony{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    padding: 0 3.5rem 0 3.5rem;
}
/* Fin de la seccion reviews */
/* Fin del main */

/* Inicio del footer */
/* Inicio de la seccion get-started */
.get-started{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color);
    text-align: center;
    padding: 7rem 0 7rem 0;
    margin-top: 4rem;
}

.get-started h2{
    color: white;
    margin: 0 7rem 0 7rem;
}

.get-started button{
background-color: white;
padding: 1.3rem 2.5rem 1.3rem 2.5rem;
border-radius: 5rem;
color: var(--primary-color);
font-weight: 500;
font-size: 1.3rem;
box-shadow: 0rem 0.4rem 0.8rem rgba(242, 97, 59, 0.5);
margin-top: 1rem;
}

.get-started button:hover{
    background-color: var(--secondary-color);
    color: white;
}
/* Fin de la seccion get-started */

/* Inicio de la seccion footer */
.footer{
    display: flex;
    flex-direction: column;
    background-color: #1E1E26;
}

.footer-form{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
    order: 1;
    gap: 0.5rem;
    padding-top: 2rem;
}

.footer-form input{
    background-color: white;
    border-radius: 5rem;
    padding: 1.25rem 4.8rem 1.25rem 1rem;
    font-weight: 600;
}

.footer-form input:hover{
    background-color: rgb(251, 242, 242);
}

.footer-form input:focus{
    background-color: rgb(251, 242, 242);
}

.footer-menu{
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
    order: 2;
    color: white;
    padding-top: 4rem;
}

.footer-menu li a{
    font-weight: 400;
    color: white;
}

.column-1,.column-2{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.footer-logos{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    order: 3;
    gap: 4rem;
    padding-top: 4rem;
}

.icons{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
}

.copyright{
    padding: 5rem 0 2rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    order: 4;
}

.desktop{
    display: none;
}
/* Fin de la seccion footer */
/* Fin del footer */
/* Fin del HTML */

@media screen and (min-width: 1280px) {
    p{
        font-size: 1.7rem;
    }

    h2{
        font-size: 3.6rem;
    }

    h4{
        font-size: 1.6rem;
    }

    .mobile{
        display: none;
    }
    
    .desktop{
        display: contents;
    }

    /* Inicio del HTML */
    /* Inicio del header */
    .desktop-menu{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: baseline;
        gap: 25rem;
    }

    .desktop-menu ul{
        display: flex;
        gap: 2.8rem;
        align-items: baseline;
    }

    .desktop-menu li a{
        font-size: 1.3rem;
        color: var(--secondary-color);
        transition: color .2s ease-out, box-shadow .1s ease-in-out;
    }
    
    li a:hover{
        color: var(--primary-color);
    }
    /* Final del header */

    /* Inicio del main */
    /* Inicio de la seccion landing */
    .landing{
        flex-direction: row-reverse;
        align-items: center;
        margin: 0;
    }

    .landing img{
        width: 100%;
        margin-right: 4rem;
        margin-top: 10rem;
    }
    
    .landing-text{
        align-items: flex-start;
        justify-content: center;
        margin-top: 16rem;
        margin-left: 14rem;
        padding: 0;
        gap: 1.5rem;
    }

    .landing-text h1{
        font-size: 6rem;
    }

    .landing-text p{
        margin-right: 14rem;
    }

    .landing-text h1,p,button{
        text-align: left;
    }
    /* Fin de la seccion landing */

    /* Inicio de la seccion different */
    .different{
        flex-direction: row;
        align-items: flex-start;
        gap: 2rem;
    }

    .list-title{
        margin-left: 14rem;
        /* margin-right: 30rem; */
        padding: 0;
    }

    .list-title h2,p{
        text-align: left;
    }

    .numbers{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 11.6rem;
        margin-left: 8rem;
    }

    .numbers p{
        background-color: var(--primary-color);
        color: white;
        text-align: center;
        border-radius: 3rem;
        padding: 1rem 2.5rem 1rem 2.5rem;
    }

    .list{
        align-items: flex-start;
        margin-right: 10rem;
    }

    .list p{
        margin: 0;
        text-align: left;
        margin-right: 8rem;
    }

    .list h4{
        background-color: white;
        text-align: left;
        margin: 0;
    }

    .item-1::before{
        display: none;
    }

    .item-2::before{
        display: none;
    }

    .item-3::before{
        display: none;
    }
    /* Fin de la seccion different */

    /* Inicio de la seccion reviews */
    .reviews{
        flex-direction: column;
        gap: 4.5rem;
        padding-top: 8rem;
        padding-bottom: 10rem;
    }

    .testimonies-block{
        display: flex;
        margin-top: 8rem;
        margin-left: 7rem;
        margin-right: 7rem;
    }
    
    .testimony{
        display: flex;
        background-color: #FAFAFA;
        padding-bottom: 8rem;
        height: 25rem;
    }
    
    .testimony p{
        text-align: center;
    }

    #testimony-1{
        order: 2;
    }

    #testimony-2{
        order: 1;
    }

    #testimony-3{
        order: 3;
    }
    /* Fin de la seccion reviews */
    /* Fin del main */

    /* Inicio del footer */
    /* Inicio de la seccion get-started */
    .get-started{
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }

    .get-started h2{
        font-size: 4rem;
        text-align: left;
        margin: 0;
        width: 60rem;
    }
    /* Fin de la seccion get-started */

    /* Inicio de la seccion footer */
    .footer{
        flex-direction: row;
        justify-content: space-around;
    }

    .footer-form{
        order: 3;
        padding-top: 1rem;
        padding-bottom: 2rem;
    }

    .footer-menu{
        order: 2;
        gap: 22rem;
        padding-top: 4rem;
        padding-bottom: 2rem;
    }

    .footer-menu li a{
        font-size: 1.4rem;
        transition: color .2s ease-out, box-shadow .1s ease-in-out;
    }

    .footer-logos{
        flex-direction: column-reverse;
        order: 1;
        padding-top: 0;
    }

    .footer-form-copyright{
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        padding-top: 1.5rem;
        padding-bottom: 4rem;
        gap: 4rem;
        order: 4;
    }

    .footer-form-copyright p{
        font-size: 1.2rem;
    }
    /* Fin de la seccion footer */
    /* Fin del footer */
    /* Fin del HTML */
}